html {
  font-family: lato, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0px;
  background-color: #ffdce2;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Navbar Section */

.navbar {
  max-width: 800px;
  margin: 15px auto 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(6 170 243);
}

.navbar_brand img {
  display: flex;
  width: 150px;
  height: 80px;
  margin-left: 20px;
}

.navbar_navigation {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_navigation-items {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar_navigation-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

/* Main Section */

.main {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form_input {
  width: 100%;
}

.form_label {
  display: block;
  margin-bottom: 10px;
}

#form_entry {
  width: inherit;
  padding: 10px 12px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: rgb(236, 234, 234);
  border: none;
}

.form_btn {
  background-color: rgb(6 170 243);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 9px 10px;
  cursor: pointer;
  color: black;
}

.form_btn:hover {
  background-color: rgb(147, 244, 0);
  color: black;
}

.entry_title {
  margin-top: 40px;
  font-size: 18px;
  display: inline;
}
.entry_date {
  font-weight: bold;
  color: rgb(151, 150, 150);
}
.entry_content {
  line-height: 150%;
  font-size: 14px;
  margin: 15px 0px 5px 0px;
}

/* article */
.entry {
  border: 2px solid rgb(6 170 243);
  background-color: rgb(220 239 247);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  width: 100%;
  text-align: center;
}

/* Footer section */

.footer {
  background-color: rgb(6 170 243);
  margin-top: 133px;
  padding: 30px 0px;
  font-size: 13px;
}

.footer_content {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  color: black;
  margin: 0 auto;
}

.footer_content .left {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.footer_content .right {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}

.footer_content a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.footer-item:hover {
  text-decoration: underline;
}

.left .footer-item {
  margin-bottom: 20px;
}

.right .footer-item {
  margin-bottom: 20px;
}
